.input {
  padding: 0.875rem 1rem;
  border-radius: 8px;

  border: 1px solid var(--gray-300);
  background-color: var(--white);
  color: var(--gray-800);

  &::placeholder {
    color: var(--gray-400);
  }
}
