.button {
  padding: 0.875rem 2rem;
  border-radius: 8px;
  border: 0;

  font-weight: 500;
  color: var(--white);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  transition: all 0.2s;

  &.primary {
    background-color: var(--blue-600);

    &:hover {
      background-color: var(--blue-700);
    }
  }

  &.secondary {
    background-color: var(--red-600);

    &:hover {
      background-color: var(--red-700);
    }
  }

  &.success {
    background-color: var(--green-600);

    &:hover {
      background-color: var(--green-700);
    }
  }

  &.dark {
    background-color: var(--gray-600);

    &:hover {
      background-color: var(--gray-700);
    }
  }
}
