.backButton {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  color: var(--blue-600);
  transition: color 200ms;

  background-color: transparent;
  border: 0;

  &:hover {
    color: var(--blue-700);
  }
}
