.card {
  background-color: var(--white);
  border: 1px solid var(--gray-100);

  border-radius: 4px;
}

.cardHeader {
  padding: 1rem;

  display: flex;
  align-items: center;

  border-bottom: 1px solid var(--gray-100);

  & > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    h3 {
      font-size: 1.125rem;
      line-height: 1;
      font-weight: 600;
    }
  }
}

.cardBody {
  padding: 1rem 1rem 2rem;
}

.cardList {
  margin-top: 2rem;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.cardListItem {
  button {
    border-radius: 0.8rem;
    border: 2px solid var(--blue-500);
    color: var(--blue-500);
    background-color: transparent;

    font-size: 1.125rem;
    font-weight: 600;
    height: 5rem;
    width: 3rem;

    transition: all 0.09s linear;

    &:not(.active):hover {
      background-color: var(--blue-50);
      margin-top: -0.25rem;
    }

    &.active {
      margin-top: -0.25rem;
      background-color: var(--blue-500);
      color: var(--white);
    }
  }
}

.votes {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  margin-top: 2rem;

  span {
    text-transform: capitalize;
    font-size: 0.875rem;
    color: var(--gray-800);
  }
}

.showResult {
  margin-top: 1.5rem;
  padding: 0.5rem 1.5rem;
}
