.roomHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 800px;
  margin: 0 auto 1.5rem;

  .roomHeaderTitle {
    font-size: 1.25rem;
  }

  & > button {
    padding: 0.75rem 2rem;
  }
}
