.header {
  background-color: var(--white);
  border-bottom: 1px solid var(--gray-100);
  padding: 1rem 0;

  & > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

.headerActions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
